<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ejercicio1.css') }}">

</head>
<body>

    <div class="form-container">
        <h2>Calculo de compras</h2>

        <form method="POST">
            <label for="Nombre">Ingresa tu nombre:</label>
            <input type="text" id="Nombre" name="Nombre" required>

            <label for="Edad">Ingresa tu edad:</label>
            <input type="number" id="Edad" name="Edad" required>

            <label for="Pintura">Ingresa la cantidad de tarros de pintura a comprar:</label>
            <input type="number" id="Pintura" name="Pintura" required>

            <button type="submit" class="btn-form">Calcular</button>
        </form>

        {% if datos %}
        <div class="resultado">
            <p><strong>Nombre del cliente:</strong> {{ datos.nombre }}</p>
            <p><strong>Total sin descuento:</strong> ${{ datos.total_sin }}</p>
            <p><strong>El descuento es:</strong> ${{ datos.descuento }}</p>
            <p><strong>El total a pagar es de:</strong> ${{ datos.total_final }}</p>
        </div>
        {% endif %}
    </div>

</body>
</html>
